/* start variables */
:root {
    --main-color: #10cab7;
    --sec-color: #2c4755;
    --section-color: #f6f6f6;
    --section-padding: 60px;
    --font-color: #777;
    --font-color-sec: #333;
}
/* End Variables */
/* start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start components */
.special-heading {
    font-size: 100px;
    color:#ebeced;
    margin: 0;
    text-align: center;
}
.special-heading + p {
    text-align: center;
    color: #797979;
    margin-top: -40px;
    margin-bottom: 0;
    font-size: 20px;
    z-index: 1;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 70px;
    }
    .special-heading + p {
        font-size: 14px;
        margin-top: -27px;
    }
}
/* End components */
/* Start Header Section */
header {
    padding: 20px;
}
#header-logo {
    height: 24px; 
}
header .header {
    display: flex;
    justify-content: space-between;
}
.header .links {
    position: relative;
}
.icon-lines {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 32px;
    height: 24px;
}
.links:hover ul {
    display: block;
}
.icon-lines span {
    background-color: var(--font-color-sec);
    width: 100%;
    height: 2px;
}
.icon-lines span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}
.links:hover .icon-lines span:nth-child(2){
    width: 100%;
}
.header ul {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--section-color);
    width: 200px;
}
.header ul::before {
    content: '';
    position: absolute;
    top: -29px;
    right: 0;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent var(--section-color) transparent;
}
.header ul li {
    display: block;
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
    padding: 10px;
    transition: 0.3;
}
.header ul li:hover {
    padding-left: 25px;
}
.header ul li a {
    text-decoration: none;
    color: var(--font-color-sec);
}
/* End Header Section */
/* Start Landing Section */
.landing {
    background-image: url(/imgs/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-text {
    text-align: center;
    width: 320px;
    margin: 0 auto;
}
.landing-text h1 {
    margin: 0;
    font-size: 2.6em;
    color: var(--main-color);
}
.landing-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing Section */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .container .feat {
    padding: 20px;
    text-align: center;
}
.features .container .feat i{
    color: var(--main-color)
}
.features .container .feat p {
    color: var(--font-color);
    line-height: 1.8;
    font-size: 17px;
}
/* End Features */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 40px;
}
.services .service-content .col .service {
    display: flex;
    margin-bottom: 20px;
}
.services .service-content .col .service i {
    flex-basis: 60px;
    color: var(--main-color);

}
.services .service-content .col .service .service-text {
    flex: 1;
}
.services .service-content .col .service .service-text p {
    color: #444;
    line-height: 1.6;
    font-weight: 300;
}
.service-image {
    width: 250px;
    position: relative;
}
.service-image::after {
    content: '';
    width: 125px;
    height: calc(100% + 80px);
    background-color: var(--sec-color);
    position: absolute;
    top: -40px;
    right: -45px;
    z-index: -1;
}
@media (max-width: 991px) {
    .service-image {
        display: none;
    }
}
@media (max-width: 767px) {
    .services .service-content .col .service {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: center;
    }
}
.service-image img {
    width: 100%;
}
/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 40px;
}
.portfolio-content .card {
    background-color: white;
}
.portfolio-content .image {
    width: 100%;
}
.portfolio-content  .image img {
    width: 100%;
}
.portfolio-content .card .port-text {
    padding: 10px;
}
.portfolio-content .card .port-text p {
    color: #777;
    line-height: 1.6;
}
/* End Portfolio */
/* start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about-content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 991px) {
    .about-content {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-image {
        width: 300px;
    }
    .about-text {
        padding:10px;
    }
}
.about-image {
    width: 300px;
    position: relative;
}
.about-image::before {
    content: '';
    width: 100px;
    height: calc(100% + 60px);
    background-color: #ebeced;
    position: absolute;
    top: -30px;
    left : -40px;
    z-index:  -1;
}
@media (max-width: 991px) {
    .about-image::after,
    .about-image::before
     {
        display: none;
    }
}
.about-image::after {
    content: '';
    width: 100px;
    height: calc(100% - 80px);
    border-bottom: solid 80px var(--main-color);
    border-left: solid 80px var(--main-color);
    position: absolute;
    top: -29px;
    right: -122px;
    z-index: -1;
}

.about-image img {
    width: 100%;
}
.about-text {
    flex-basis: calc(100% - 500px)
}
.about-text p:first-child {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about-text p:nth-of-type(2){
    line-height: 2;
    color: #777;
}
.about-text hr {
    display: inline-block;
    border-color: var(--main-color);
    width: 50%
}
/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info p {
    font-size: 35px;
    font-weight: 800;
    color: var(--sec-color);
    letter-spacing: -2px;
}
.contact .info a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
    display: block;
    margin-bottom: 20px;
}
.contact .info .social {
    font-size: 18px;
}
.contact .info .social i {
    color: var(--sec-color);
    margin-left: 10px;
}
@media (max-width: 767px) {
    .contact .info p,
    .contact .info a {
        font-size: 25px;
    }
    .contact .info .social {
        font-size: 16px;
    }
}
/* End Contact */

